.complaintTable {
    width: 80%;
    border-color: #aaaaaa;
}

.complaintTable td {
    padding: 10px 5px;
    width: 16%;
    height: 40px;
    word-break: break-word;
    text-align: center;
}

.processTable, .resultTable {
    width: 80%;
}

.processTable td:first-child {
    padding: 5px;
    text-align: center;
}

.resultTable td:first-child {
    padding: 5px;
    text-align: center;
}
